@import url(fonts.css);


footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:    "A B C";
    background-color: #2e2e2e;

    margin-top: 75px;
    padding: 10px;
}

footer > #email {
    grid-area: A;

    text-align: start;
}

footer > #email > h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: #FFFAFA;

    margin-left: 26px;
    margin-top: 10px;
    margin-bottom: 12px;
}

footer > #email > .newsletter > input {
    width: 300px;
    height: 25px;
    background-color: #FFFAFA;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    margin-left: 25px;
}

footer > #email > .newsletter > input:hover {
    width: 285px;
    height: 25px;
    background-color: #2e2e2e;
    color: #FFFAFA;
    border-radius: 10px;
    padding-left: 15px;
    transition: 0.5s all;

    margin-left: 25px;
}

footer > #email > .newsletter > button {
    width: 100px;
    height: 25px;
    background-color: #FFFAFA;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;

    cursor: pointer;
}

footer > #email > .newsletter > button:hover {
    width: 100px;
    height: 25px;
    background-color: #2e2e2e;
    color: #FFFAFA;
    border-radius: 10px;
    transition: 0.5s all;

    cursor: pointer;
}

footer > #info {
    grid-area: B;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:    "phone email"
                            "place politica";

    font-family: 'Nunito', sans-serif;

}

footer > #info > a {
    text-decoration: none;
}

footer > #info > #phone {
    grid-area: phone;
    margin-top: 3px;
    margin-bottom: 3px;
    color: #FFFAFA;

}

footer > #info > #email {
    grid-area: email;
    margin-top: 3px;
    margin-bottom: 3px;
    color: #FFFAFA;

}

footer > #info > #local {
    grid-area: place;
    margin-top: 3px;
    margin-bottom: 3px;
    color: #FFFAFA;

}

footer > #info > #politica {
    grid-area: politica;
    margin-top: 3px;
    margin-bottom: 3px;
    color: #FFFAFA;


}

footer > #socialMedia {
    grid-area: C;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:    "a b"
                            "c d"
                            "e f";

    font-family: 'Nunito', sans-serif;


}


footer > #socialMedia > a {
    text-decoration: none;
}

footer > #socialMedia > #youtube {
    text-align: start;
    grid-area: a;
    color: #FFFAFA;
}

footer > #socialMedia > #whatsapp {
    text-align: start;
    grid-area: b;
    color: #FFFAFA;

}

footer > #socialMedia > #facebook {
    text-align: start;
    grid-area: c;
    color: #FFFAFA;
    
}

footer > #socialMedia > #instagram {
    text-align: start;
    grid-area: d;
    color: #FFFAFA;

    
}

footer > #socialMedia > #twitter {
    text-align: start;
    grid-area: e;
    color: #FFFAFA;
    
}

footer > #socialMedia > #pinterest {
    text-align: start;
    grid-area: f;
    color: #FFFAFA;

    
}