@import url(fonts.css);


header > nav{
    width: 100%;
    height: 65px;

    display: flex;
    justify-content: space-between;
    padding: auto;

    background-color: #2e2e2e;
}

header > nav > #logo {
    margin-top: 8px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Noto Serif Display', serif;
    font-weight: bolder;
    background-image: linear-gradient(to bottom, #A06C68, #A06C68, #00000000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header > nav > #pageTitle {
    font-size: 50px;
    font-family: 'Noto Serif Display', serif;

   
    background-image: linear-gradient(to bottom, #FFFAFA , #FFFAFA, #c4c4c4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


header > nav > #menu {
    display: flex;
}

header > nav > #menu > #menuSecoes {
    margin-top: 20px;
    margin-left: 15px;
}

header > nav > #menu > #menuSecoes > a {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #FFFAFA;
    margin-left: 10px;
}

header > nav > #menu > #menuSecoes > a:hover{
    color: #c4c4c4;
} 

header > nav #menu > a > img {
    width: 48px;
    height: 48px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
