@import url(fonts.css);


.container{
    background-color: #FFFAFA;
    width: 100%;
    height: auto;
    padding: 10px;

    margin-bottom: 5px;

    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 425px 425px 425px 425px 425px;

    grid-gap: 40px;
    justify-content:center;

}

.container > div {
    background: #fff;
    border-radius: 2.5px;

    padding: 10px;
    box-shadow: 2.5px 1.75px 1.75px #c4c4c4;
    cursor: pointer;

    transition: all 0.6s cubic-bezier(0.165, 0.84, 044, 1);

}

.container > div:hover {
    transform: scale(1.1, 1.1);
}

.container > div > img {
    margin: auto;
    vertical-align: auto;
}


.container > div > h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #2e2e2e;
}

.container > div > h2 {
    margin-top: 25px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: #2e2e2e;

}

.container > div > h4 {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: #2e2e2e;
    margin-top: 2%;
}

.container > div > h4 > span {
    text-decoration: line-through;
}

.container > div > button {
    width: 85%;
    height: 30px;
    border-radius: 5px;
    background-color: #2e2e2e;

    box-shadow: 2.5px 1.75px 1.75px #c4c4c4;

    margin-top: 15px;

    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #FFFAFA;
    cursor: pointer;
}

.container > div > button:hover {
    background-color: #C4C4C4;
    color: #2e2e2e;
    cursor: pointer;
}

